/* 
To change this license header, choose License Headers in Project Properties. 
To change this template file, choose Tools | Templates 
and open the template in the editor. 
*/ 
/*  
    Created on : 01/12/2018, 16:52:41 
    Author     : mathe 
*/ 

body{ 
    width: 400px; 
    height: 200px; 

    background-repeat: repeat; 
    background-attachment: scroll; 
   



} 
ul { 
    display: block;
    position: absolute;
    left: 0;
    width: 238px;
    text-align: left;
    padding: 0;
    background: gray;
} 

li { 
    float: left; 
} 

li a { 
    display: block; 
    color: white; 
    text-align: center; 
    padding: 100px 100px; 
    text-decoration: none; 
    position : relative; 
} 

li a:hover:not(.active) { 
    background-color: #111; 
} 

.active { 
    background-color: #4CAF50; 
} 
h1{ 
    font-family: "Montserrat";
    margin: 0; 
    font-size: 100px; 
    position: absolute; 
    top: 10%; 
    left: 50%; 
    margin-right: -50%; 
    transform: translate(-50%, -50%)

}